@model IEnumerable<onlineShop.ViewModel.CartViewModel>
@using onlineShop.Extensions
@{
    ViewBag.Title = "ShoppingCart";
    decimal TotalAmount = 0.00M;
    int counter =0;
    int items = 0;
    if(Context.Session.Get<int>("Items") != null){
        items = Context.Session.Get<int>("Items");
        }
    decimal orderTotal = Model.Sum(orderSum => orderSum.Total);
    bool delivery = false;
    bool collection = false;
}

<div class="container">
    <h4 style="margin-top:6px;margin-bottom:6px">Delivery/Payment/Confirmation</h4>
   @using (Html.BeginForm("CheckOut", "Store", FormMethod.Post))
     {
         <div class="row">
                 <div class="col-md-8">
                     <div class="card" style="margin-top:10px;">
                         <div class="cart-card">
                             <div class="row">
                                 <div class="col-md-4">
                                     <div style="-moz-border-radius: 50%">
                                         <i class="fas fa-shipping-fast"></i>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div style="margin-left:20px;margin-top:10px;font-size:20px">Delivery</div>
                                     <div style="margin-left:20px;margin-top:4px;font-size:16px">Courier delivery to your door</div>
                                 </div>
                                 <div class="col-md-2">
                                     <div style="right:0;margin-top:15px">
                                         <div class="remove-cart-item" style="right:0">
                                             <a type="button" onclick=" return @delivery = true" class="btn-delivery" style="font-size:20px;margin-bottom:3px;margin-top:20%;text-decoration:none">Deliver my order</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>

                     <div class="card" style="margin-top:10px;">
                         <div class="cart-card">
                             <div class="row">
                                 <div class="col-md-4">
                                     <div style="-moz-border-radius: 50%">
                                         <i class="fas fa-store"></i>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div style="margin-left:20px;margin-top:10px;font-size:20px">Collection(</div>
                                     <div style="margin-left:20px;margin-top:4px;font-size:16px">Collect your food while it hot</div>
                                 </div>
                                 <div class="col-md-2">
                                     <div style="right:0;margin-top:15px">
                                         <div class="remove-cart-item" style="right:0">
                                             <a type="button" class="btn-delivery" style="font-size:20px;margin-bottom:3px;margin-top:20%;text-decoration:none" onclick=" return @collection = true">Collect my order</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             <div class="col-md-4">
                 <div class="card">
                     <div class="cart-summary">
                         <div style="margin-left:8px; margin-top:8px">
                             <h4>Cart Summary</h4>
                         </div>
                         <div style="margin-left:8px;margin-top:20px">
                             <div class="row">
                                 <div class="col-md-6">
                                     <h6 style="font-weight: bold;">TOTAL: ( @items items )</h6>
                                 </div>
                                 <div class="col-md-6">
                                     <h3 style="margin-left:30px; color:#2183a2;position:absolute">@TotalAmount.ToString("R#,##0.00")</h3>
                                 </div>
                             </div>
                         </div>
                         <div style="margin-top:30px; margin-left:20%">
                             <a type="button" class="add-to-cart-btn" asp-controller="Store" asp-action="checkout" style="height:30px;text-decoration:none"> Proceed to Checkout </a>
                         </div>
                     </div>
                 </div>
             </div>
                  <div class="card">
                                      <div class="cart-summary">
                                          <div style="margin-left:8px; margin-top:8px">
                                              <h4>ORDER SUMMARY</h4>
                                          </div>
                                          <div style="margin-left:8px;margin-top:20px">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <h6 style="font-weight: bold;">TOTAL: ( @items items )</h6>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <h3 style="margin-left:30px; color:#2183a2;position:absolute">@orderTotal.ToString("R#,##0.00")</h3>
                                                  </div>
                                              </div>
                                               <div style="margin-top:30px; margin-left:20%">
                                                                                            <a type="button" class="add-to-cart-btn" style="height:30px;text-decoration:none"> CONTINUE </a>
                                                                                        </div>
                                          </div>
                                          <div style="margin-left:8px;margin-top:20px">
                                                <div class="row">
                                                     <div style="margin-left:8px; margin-top:8px">
                                                                                                  <h4>ORDER REVIEW</h4>
                                                                                              </div>
                                                    <div class="col-md-6">
                                                        <h6 style="font-weight: bold;">Delivery Method</h6>
                                                    </div>
                                                    <div class="col-md-6">
                                                        @if (delivery == true)
                                                        {
                                                            <h6 style="margin-left:30px; color:#2183a2;position:absolute">Deliver</h6>
                                                        }else if (collection == true)
                                                        {
                                                            <h6 style="margin-left:30px; color:#2183a2;position:absolute">Collect</h6>
                                                        }
                                                    </div>
                                                </div>
                                                                                    </div>
                                      </div>
                                  </div>
             </div>
         }
</div>

